.container{
    max-width: var(--max-width);

margin: 0 auto;
margin: 60px;
}


.container h1 {
    margin: 40px 0;
    color: var(--text);
   font-family: var(--logo-font);
}

.sneakers_block{
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 1000px) {
    .sneakers_block {
        flex-direction: column;
        gap: 100px;
    }

    
}