.card{
   position: relative;
	max-width: 280px;
	height: fit-content;
	min-height: 400px;
	box-shadow: 0 0 10px gray;
	border-radius: 10px;
	padding: 30px 20px;
}

.product_block:hover  .add_block{
  opacity: 1;

}


  

.add_block{
    position: absolute;
    top: 110px;
    
    display: flex;
    align-items: center;
gap: 40px;
opacity: 0;
cursor: pointer;


}

.card p{
    color: var(--text);
font-size: 16px;
font-weight: 400;
line-height: 16px;
text-align: left;

}

@media screen and (max-width: 825px){
    .card{
         max-width: 500px;
    }
}

